<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% block predmeti %}
    {% endblock %}
    {% block login_page %}
    {% endblock %}
    {% block home %}
    {% endblock %}
    {% block logout %}
    {% endblock %}
    {% block add_predmet %}
    {% endblock %}
    {% block delete_predmetconf %}
    {% endblock %}
    {% block edit_predmet %}
    {% endblock %}
    {% block studenti %}
    {% endblock %}
    {% block add_students %}
    {% endblock %}
    {% block edit_students %}
    {% endblock %}
    {% block profesori %}
    {% endblock %}
    {% block add_profesors %}
    {% endblock %}
    {% block edit_profesors %}
    {% endblock %}
    {% block predmeti_profesor %}
    {% endblock %}
    {% block upisni_list %}
    {% endblock %}
    {% block styles %}
    {% endblock %}
    {% block studenti_predmet %}
    {% endblock %}
    {% block styless %}
    {% endblock %}
    {% block edit_status %}
    {% endblock %}
    {% block filtriranje1 %}
    {% endblock %}

   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
